/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    padding: 20px 0px 20px 0px;
    z-index: 997;
    position: fixed;
    left:0;
    right:0;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    background: $white;
    transition: all 0.5s;
}

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    background: rgba($white, 0.9);
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
    text-align: left;
}


.nav-menu {
    a {
        padding: 0px;
        text-decoration: none;
        display: inline-block;
        color: $title-color;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        outline: none;
        font-family: $primary-font;
        &.active,
        &:hover {
            color: $primary-color!important;
        }
    }
    &.white {
        a {
            color: $white;
        }
    }
}

.nav-menu>li {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
    @media(max-width: 576px) {
        margin-right:20px;
    }
}

.nav-menu ul {
    margin: 33px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
    &.dark {
        background: $title-color;
    }
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
}

.nav-menu ul li:hover>a {
    color: $primary-color;
}

.nav-menu ul ul {
    margin: 0;
}